@Scripts.Render("~/bundles/grid")
@{
    ViewBag.Title = "Grid";
}
<h2>Grid</h2>
<div id="grid"></div>
<div id="paginginfo"></div>
<div id="saveState"></div><div id="loadState"></div>
<div id="eventslog"></div>
<div id="events"></div>




